:root {
    
}

html {
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    background: lightgrey;
}

header {
    display: flex;
    align-items: center;
    background-color: darkslategray;
    color: whitesmoke
}

h1 {
    margin: 0;
}

select {
    font-size: x-large;
    width: 12em;
}

#algo-type {
    width: 7em;
}

.title {
    width: 9rem;
    height: 5rem;
    align-items: center;
    text-align: center;
    padding: 0.5rem 2rem;
}

.dropdown {
    margin: 0 2rem;
    font-size: 1.5rem;
}

.btn {
    font-size: large;
    margin: 0 1em;
    width: 6em;
    height: 2em;
    text-decoration: none;
    background: grey;
    color: whitesmoke;
    border: 0;
    transition: background 200ms linear;
}

.btn:hover,
.btn:focus {
    border: 1px solid whitesmoke;
    background: dimgrey;    
}

#board {
    margin: 2rem auto;
    max-width: 1875px;
    border-top: 3px solid grey;
    border-left: 3px solid grey;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
}

.row {
    display: flex;
}

.square {
    --square-bg: whitesmoke;
    width: 20px;
    height: 20px;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
    background: var(--square-bg);
    transition: background 500ms linear
}

.hidden {
    display: none;
}


/*--------------------
    Node Styling
--------------------*/
.unvisited {
    /* --square-bg: var(--lightwhite); */
    background-color: var(--square-bg);
}

.visited {
    /* --square-bg: rgb(67, 226, 210); */
    background-color: rgb(67, 226, 210);
}

.start {
    /* --square-bg: greenyellow; */
    background-color: greenyellow;
}

.target {
    /* --square-bg: red; */
    background-color: red;
}

.wall {
    /* --square-bg: grey; */
    background-color: grey;
}

.square--weighted {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #444cf7 0, #444cf7 1px, #e5e5f7 0, #e5e5f7 50%); 
}

.path {
    /* --square-bg: rgb(235, 97, 240); */
    background-color: rgb(235, 97, 240);
}